In [2]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings("ignore")

In [3]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
df_basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
df_ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2004
1  tt0000002            5.8       269
2  tt0000003            6.5      1903
3  tt0000004            5.5       178
4  tt0000005            6.2      2685

In [6]:
df_akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [7]:
#Basics
#Replace "\N" with np.nan
df_basics.replace({'\\N':np.nan}, inplace = True)
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [8]:
df_basics.isna().sum()

tconst                   0
titleType                0
primaryTitle            11
originalTitle           11
isAdult                  1
startYear          1379268
endYear           10173691
runtimeMinutes     7187304
genres              459590
dtype: int64

In [9]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10288060 entries, 0 to 10288059
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 706.4+ MB

In [10]:
df_basics['startYear'] = pd.to_numeric(df_basics['startYear'])

df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10288060 entries, 0 to 10288059
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(1), object(8)
memory usage: 706.4+ MB

In [11]:
df_basics.loc[pd.isnull(df_basics['runtimeMinutes'])]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898.0,NaN,NaN,"Comedy,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895.0,NaN,NaN,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1896.0,NaN,NaN,"News,Short,Sport"
36,tt0000038,short,The Ball Game,The Ball Game,0,1898.0,NaN,NaN,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896.0,NaN,NaN,Short
...,...,...,...,...,...,...,...,...,...
10288053,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2009.0,NaN,NaN,"Action,Drama,Family"
10288054,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009.0,NaN,NaN,"Action,Drama,Family"
10288055,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009.0,NaN,NaN,"Action,Drama,Family"
10288056,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,NaN,NaN,"Action,Drama,Family"
10288057,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,NaN,NaN,"Action,Drama,Family"

In [12]:
#Eliminate movies that are null for runtimeMinutes
df_basics_rtm_nulls = pd.isnull(df_basics['runtimeMinutes'])
df_basics_rtm_nulls

0           False
1           False
2           False
3           False
4           False
            ...
10288055     True
10288056     True
10288057     True
10288058    False
10288059    False
Name: runtimeMinutes, Length: 10288060, dtype: bool

In [13]:
df_basics = df_basics[~df_basics_rtm_nulls]

In [14]:
df_basics.loc[pd.isnull(df_basics['runtimeMinutes'])]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [15]:
df_basics.loc[pd.isnull(df_basics['genres'])]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905.0,NaN,100,NaN
1616,tt0001630,movie,Der fremde Vogel,Der fremde Vogel,0,1911.0,NaN,45,NaN
1739,tt0001756,movie,Lucha por la herencia,Lucha por la herencia,0,1911.0,NaN,92,NaN
2069,tt0002094,movie,Charles IV,Charles IV,0,1912.0,NaN,50,NaN
2289,tt0002315,movie,El lobo de la sierra,El lobo de la sierra,0,1912.0,NaN,76,NaN
...,...,...,...,...,...,...,...,...,...
10286670,tt9913814,movie,Chikan densha: Muremure shanai,Chikan densha: Muremure shanai,0,1981.0,NaN,60,NaN
10286680,tt9913834,movie,Hiniku: Nure nawazeme,Hiniku: Nure nawazeme,0,1981.0,NaN,64,NaN
10286701,tt9913878,movie,Document porno: Yubi ijime,Document porno: Yubi ijime,0,1981.0,NaN,61,NaN
10287275,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
10287716,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,NaN,NaN,78,NaN

In [16]:
#Eliminate movies that are null for genre
df_basics_g_nulls = pd.isnull(df_basics['genres'])
df_basics_g_nulls

0           False
1           False
2           False
3           False
4           False
            ...
10288010    False
10288016    False
10288051    False
10288058    False
10288059    False
Name: genres, Length: 3100756, dtype: bool

In [17]:
df_basics = df_basics[~df_basics_g_nulls]

In [18]:
df_basics.loc[pd.isnull(df_basics['genres'])]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [19]:
df_basics['titleType'].value_counts()

tvEpisode       1589141
short            618924
movie            391802
video            186248
tvMovie           93038
tvSeries          92711
tvSpecial         19481
tvMiniSeries      18163
tvShort            8766
videoGame           342
Name: titleType, dtype: int64

In [20]:
df_basics.loc[(df_basics['titleType'] == 'movie')]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10287910,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
10287951,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
10287978,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
10288000,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama
10288010,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

In [21]:
#keep only titleType==Movie
df_basics = df_basics.loc[(df_basics['titleType'] == 'movie')]

In [22]:
df_basics['titleType'].value_counts()

movie    391802
Name: titleType, dtype: int64

In [23]:
#keep startYear 2000-2022
df_basics['startYear'].value_counts()

2018.0    14457
2017.0    14434
2019.0    14198
2016.0    14019
2015.0    13543
          ...
1894.0        1
1899.0        1
1904.0        1
1897.0        1
2028.0        1
Name: startYear, Length: 132, dtype: int64

In [25]:
year_filter = ((df_basics['startYear'] > 1999) & (df_basics['startYear'] < 2023))
print(year_filter)

8           False
144         False
570         False
587         False
672         False
            ...
10287910     True
10287951     True
10287978     True
10288000     True
10288010     True
Name: startYear, Length: 391802, dtype: bool

In [26]:
df_basics = df_basics.loc[year_filter]

In [27]:
#keep startYear 2000-2022
df_basics['startYear'].value_counts().sort_values().sort_index(0)

2000.0     3667
2001.0     3903
2002.0     4158
2003.0     4637
2004.0     5239
2005.0     5878
2006.0     6574
2007.0     7005
2008.0     8212
2009.0     9411
2010.0    10258
2011.0    10817
2012.0    11694
2013.0    12427
2014.0    13188
2015.0    13543
2016.0    14019
2017.0    14434
2018.0    14457
2019.0    14198
2020.0    11680
2021.0    12575
2022.0    13380
Name: startYear, dtype: int64

In [28]:
df_basics.shape

(225354, 9)

In [29]:
is_documentary = df_basics['genres'].str.contains('documentary',case=False)
is_documentary.value_counts()

False    148697
True      76657
Name: genres, dtype: int64

In [30]:
#Eliminate movies that include "Documentary" in genre
#is_documentary = df_basics['genres'].str.contains('documentary',case=False)
df_basics = df_basics[~is_documentary]

In [31]:
df_basics.shape

(148697, 9)

In [32]:
#Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =df_basics['tconst'].isin(df_akas['titleId'])
keepers.value_counts()

True     147988
False       709
Name: tconst, dtype: int64

In [33]:
df_basics = df_basics[keepers]
df_basics.shape

(147988, 9)

In [34]:
#AKAS
(df_akas['region'] == 'US').value_counts()

False    36199095
True      1475342
Name: region, dtype: int64

In [35]:
#keep only US movies.
df_akas = df_akas.loc[(df_akas['region'] == 'US')]
df_akas.shape

(1475342, 8)

In [36]:
#Replace "\N" with np.nan
df_akas.replace({'\\N':np.nan}, inplace = True)
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [37]:
for i in df_ratings.columns:
    n_check = df_ratings.loc[(df_ratings[i] == '\\N')]
    print(n_check)

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []
Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []
Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

In [38]:
#Ratings
#Replace "\N" with np.nan (if any)
#No placeholder values to replace

In [39]:
df_ratings.shape

(1366349, 3)

In [40]:
#Keep only US movies
keepers_ratings =df_ratings['tconst'].isin(df_akas['titleId'])
keepers_ratings.value_counts()

False    852954
True     513395
Name: tconst, dtype: int64

In [41]:
df_ratings = df_ratings[keepers_ratings]
df_ratings.shape

(513395, 3)

In [42]:
# Making new folder with os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']

In [43]:
#save dataframes to file
df_basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
df_ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)
df_akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [44]:
# Open saved file and preview again
df_basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [45]:
# Open saved file and preview again
df_ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2004
1  tt0000002            5.8       269
2  tt0000005            6.2      2685
3  tt0000006            5.0       183
4  tt0000007            5.4       840

In [46]:
# Open saved file and preview again
df_akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0